/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/build
/public/*/vendor
/storage/*.key
/storage/debugbar
/vendor
.env
.env.backup
.phpunit.result.cache
.phplint-cache
.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/
