h1,
h2 {
    font-family: Audiowide, $font-family-sans-serif;
}

h2 {
    font-size: $font-size-base * 1.5;
}

.bg-darklight {
    background: $dark-light;
}

.bg-black {
    background: $black;
}

.striped {
    > * {
        border-bottom: solid 1px $black;

        &:nth-child(even) {
            background: $dark;
        }
        &:nth-child(odd) {
            background: $dark-light;
        }
    }
}

.w-45 {
    width: 45% !important;
}

footer {
    background-image: url('../../public/images/footer_bg.jpg');
    height: 120px;

    font-family: Audiowide, $font-family-sans-serif;

    border-top: solid 10px $primary;
}
