$font-audiowide: Audiowide, $font-family-sans-serif;

h1,
h2 {
    font-family: $font-audiowide;
}

.text-audiowide {
    font-family: $font-audiowide;
}

h2 {
    font-size: $font-size-base * 1.5;
}

.bg-darklight {
    background: $dark-light;
}

.bg-black {
    background: $black;
}

.striped {
    > * {
        border-bottom: solid 1px $black;

        &:nth-child(even) {
            background: $dark;
        }
        &:nth-child(odd) {
            background: $dark-light;
        }
    }
}

.w-45 {
    width: 45% !important;
}

img.cropped {
    object-fit: cover;
    object-position: top left;
}

img.pixelated {
    // Need both variants for different browsers
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.text-h1 { font-size: $h1-font-size; }
.text-h2 { font-size: $h2-font-size; }
.text-h3 { font-size: $h3-font-size; }
.text-h4 { font-size: $h4-font-size; }
.text-h5 { font-size: $h5-font-size; }
.text-h6 { font-size: $h6-font-size; }

.overflow-ellipsis {
    text-overflow: ellipsis;
}
