.bg-dark {
    form {
        input, select, textarea {
            background-color: $black;
            color: $light;

            &.form-control-plaintext {
                background-color: inherit;
            }
        }
    }
}
