.bg-dark, #navbar {
    form {
        .form-control, .form-select, .form-file-label {
            border: solid 1px $primary-dark;
        }

        .form-file-label {
            border-width: 0px;
        }

        .form-file-button {
            background-color: $primary;
        }

        input, select, textarea, .form-file-text {
            background-color: $black;
            color: $light;

            &.form-control-plaintext {
                background-color: inherit;
            }
        }
    }
}
