nav.navbar {
    border-bottom: 3px solid #008b8b;
    border-left: 2px solid #008b8b;
    border-right: 2px solid #008b8b;

    li {
        white-space: nowrap;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .navbar-main {

        li {
            font-family: $font-audiowide;
            font-size: 1rem;
            text-transform: uppercase;

            @include media-breakpoint-up(xl) {
                border-left: solid 1px #008b8b;

                &:last-child {
                    border-right: solid 1px #008b8b;
                }
            }

            &:hover {
                background-color: #00a9a9;
                color: #182727;
            }

        }
    }

    form {
        button.btn {
            color: $dark;
            &:hover {
                color: #008b8b;
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        ul.navbar-profile {
            border-left: solid 1px #008b8b;
        }
    }
}

#avatar {
    height: 1rem;
    vertical-align: sub;
}
