.menuset-letter {
    width: 5rem;
}

.menu-index li.active {
    background-color: $primary;
    a {
        color: $dark;
    }
}

.bg-menu-percent {
    background: linear-gradient(90deg, $gray-700 0%, $gray-300 100%);
}

.progress-menu {
    height: 1.25rem;
}

.menu-link {
    display: none;
}

h3:hover .menu-link {
    display: inline;
}
