.menuset-letter {
    width: 5rem;
}

.menu-index li.active {
    background-color: $primary;
    a {
        color: $dark;
    }
}

.bg-menu-percent {
    background: linear-gradient(90deg, $gray-700 0%, $gray-300 100%);
}
