.card-open {
    .card-body {
        background-image: url('../images/css_datequote_bg.webp');

        h3 {
            font-size: 8rem;
        }

        .bg-translucent {
            background: rgba(0, 80, 80, 0.6);
        }
    }
}
