ul.autocomplete-results {
    position: absolute;
    background-color: rgba(250, 250, 250, 0.8);
    border: solid 1px $gray-400;
    z-index: 1000;

    li {
        padding: .25rem;
        border-bottom: solid 1px $gray-400;
        cursor: pointer;

        &:hover, &.autoComplete_selected {
            background-color: $primary;
            color: white;
        }

        .autoComplete_highlighted {
            font-weight: bold;
        }
    }
}
