.card-game {
    img.company-logo {
        max-height: 5rem;
    }
}

.card-screenshots, .card-boxscans {
    .carousel-thumbnails {

        &[data-bs-carousel="carousel-boxscans"] {
            img {
                width: 5rem;
            }
        }

        img {
            opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
        }

        .active {
            img {
                border: solid 1px white;
                opacity: 1;
            }
        }
    }

    .carousel-inner {
        text-shadow: -1px -1px 0 #005050, 1px -1px 0 #005050, -1px 1px 0 #005050, 1px 1px 0 #005050;

        .carousel-caption .text-h5 {
            background-color: rgba(0, 80, 80, .6);
            border: solid 1px #005050;
        }
    }
}
