@import "~aplayer/dist/APlayer.min.css";

.aplayer {
    background: $dark-light;
    border: solid 1px $primary-dark;
    font-family: $font-family-sans-serif !important;

    ol {
        li {
            border-top-color: $gray-700 !important;

            &:hover {
                background-color: $primary-dark !important;
            }
        }
    }

    .aplayer-author {
        color: $text-muted !important;
    }

    .aplayer-time {
        color: white !important;
        svg path {
            fill: white !important;
        }
    }

    .aplayer-info {
        border-bottom-color: $primary-dark !important;
    }

    .aplayer-list-light {
        background-color: $primary-dark !important;

        .aplayer-list-cur {
            background-color: $primary !important;
        }

        .aplayer-list-index {
            color: $primary !important;
        }
    }

    .aplayer-thumb {
        background-color: $primary !important;
    }
}
